<h1 class="home-main">3回目のRails Tutorialです</h1>


<main class="home-sub">
    <div>
      <%= link_to "Sign up now", signup_path, class: "btn btn-lg", style: "background-color: #00bfff" %>
    </div>
</main>
