<h1>This is my html-training page!</h1>


<h1>h1</h1>
<h2>h2</h2>
<h3>h3</h3>
<h4>h4</h4>
<h5>h5</h5>
<h6>h6</h6>
<p><strong>Strong</strong></p>
<p>paragraph</p>

<p><%= "p"*188 %></p>
<span><%= "span"*188 %></span>
<p>
  <a href="https://google.com">Google</a>
</p>

<p>
  <a href="mailto:kktak02@gmail.com">メールで連絡</a>
</p>

<ul>
  <li>iMac</li>
  <li>iPad</li>
  <li>iPhone</li>
  <li>List-style: circle; </li>
</ul>