<!DOCTYPE html>
<% provide(:title, "home") %>
<html>
  <head>
    <title>home</title>
  </head>


  <body>
    <% if logged_in? %>
      <%= render 'static_pages/logged_in' %>
    <% else %>
      <%= render 'static_pages/not_logged_in' %>
    <% end %>
  </body>

</html>