<!DOCTYPE html>
<% provide(:title, "home") %>
<html>
  <head>
    <title>home</title>
  </head>

  <body>
  <h1>Home</h1>
  <p>
    This is the home page of Ruby on Rails tutorial sample app
  </p>
  </body>

</html>