<li>
  <%= gravatar_for(user) %>
  <%= "user id: #{user.id}" %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete account", user, method: :delete, 
                                          data: {confirm: "You sure?" } %>
  <% end %>
</li>