<div class="justify-content-md-center">
  <% @users.each do |user| %>
    <ul class="users">
      <li>
        <%= gravatar_for(user) %>
        <%= link_to user.name, user %>
      </li>
    </ul>
  <% end %>
</div>