<div class="row justify-content-md-center">
  <h1>  
    <%= "This is the show page of user #{@user.name} " %>
  </h1>
</div>

<div class="container">
  <h1>
    <%= gravatar_for @user %>
    <%= @user.name %>
  </h1>
</div>