<header class="page-header wrapper">
  <h1 id="header-logo">Full Screen</h1>
  <nav>
    <ul class="main-nav">
      <li><%= link_to "Top", help_path %></li>
      <li><a href="#">News</a></li>
      <li><a href="#">Menu</a></li>
      <li><a href="#">Contect</a></li>
    </ul>
  </nav>
</header>