<head>
  <%= stylesheet_link_tag 'full_screen', media: 'all', 'data-turbolinks-track': 'reload' %>
  <title>Full Screen</title>
</head> 



<%= render 'html_training/header' %>
<div class="home-content wrapper">
  <h2 class="page-title">We'll make your day.</h2>
  <p>Here is the rest house of your life.</p>
  <a class="button" href="#">Look into Menu.</a>
</div>