<head>
  <%= stylesheet_link_tag 'full_screen', media: 'all', 'data-turbolinks-track': 'reload' %>
  <title>Two Column</title>
</head> 


<header class="page-header wrapper">
  <h1 id="header-logo">Two Column</h1>
  <nav>
    <ul class="main-nav">
      <li><%= link_to "Top", help_path %></li>
      <li><a href="#">News</a></li>
      <li><a href="#">Menu</a></li>
      <li><a href="#">Contect</a></li>
    </ul>
  </nav>
</header>

<div id="news">NEWS</div>
<div class="news-content"></div>


<footer>
  <div class="wrapper">
    <p><small>&copy; 2019 Kinobox</small></p>
  </div>
</footer>