/*header*/

#logo {
  float: left;
  font-size: 1.7em;
  color: #0000cd;
  text-transform: uppercase;
  font-weight: bold;
}

#logo:hover {
  color: #000;
  text-decoration: none;
}


/*footer*/

footer {
  margin-top: 30px;
  color: #777;
}

footer a {
  color: #555;
}

/* mixin */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* デバッグ */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}