/*header*/



#logo {
  float: left;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
}

#logo:hover {
  color: #000;
  text-decoration: none;
}

.header-menu {
  color: white;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
}



/*footer*/

footer {
  margin-top: 60px;
  color: #777;
}

footer a {
  color: #555;
}

.footer {
  border-top: 1px solid #999;
}

/* mixin */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}




/* デバッグ */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}


#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error !optional;
  .form-control {
    color: red;
  }
}

/* banner */
.banner {
  color: rgb(20, 97, 128);
  font-size: 20px;
}


/* login form */

.checkbox{
  span {
    margin-left: 20px;
  }
}


#session_remember_me {
  width: auto;
  margin-left: 0;
}



/* micropost */

.microposts {
  list-style: none;
  li {
    padding: 10px 0;
    border-top: solid 1px;
  }
  .content {
    display: block;
  }
  .timestamp {
    display: block;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
  }
}


/* sidebar */

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid gray;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}
