@charset "UTF-8";


/* header */

html {
  font-size: 100%;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

a {
  text-decoration: none;
}


.page-header {
  display: flex;
  justify-content: space-between;
}

.wrapper {
  max-width: 1100px;
  padding: 4px 4px;
  margin-bottom: 4px;
}

#header-logo {
  width: 210px;
  margin-top: 14px;
  color: #999
}

.main-nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-top: 24px;
}

.main-nav li {
  margin-left: 36px;
  margin-right: 36px;
}

/* home */

.home-content {
  text-align: center;
  margin-top: 10%;
}

.home-content p {
  font-size: 1.125rem;
  margin: 10px 0 42px;
}


/* 見出し */

.page-title {
  font-size: 4rem;
  font-family: 'Philosopher', serif;
  text-transform: uppercase;
  font-weight: normal;
}

/* button */

.button {
  font-size: 1.375rem;
  background-color: #0bd;
  color: #fff;
  border-radius: 5px;
  padding: 18px 32px;
}

.button:hover {
  background: #0090aa;
}


/* news */

#news {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 10px 10px 20px 20px;
}

#news .page-title {
  text-align: center;
}

footer {
  text-align: center;
  background: #432;
  padding: 10px 0;
  margin-top: 10px;
  color: #fff;
}