body {
  background-color: #fffeee;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
  color: gray;
  font-size: 4rem;
}

h2 {
  color: blue;
  font-size: 3rem;
}

div p {
  color: green
}

p {
  line-height: normal;
}

.text-align{
  text-align: justify;
}