/* home */

.home-main {
  justify-content: space-between;
  text-align: center;
  color: #456;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 3rem;
  font-weight: bold;

  margin: 40px 40px;
  padding: 40px 120px;

  border-radius: 15px;

  background: rgb(144, 204, 199);
}


main {
  width: 70%;
  text-align: center;
  margin-left: 120px;
  margin-right: 120px;
}

