<footer class="footer fixed-bottom navbar navbar-light">
    <small> 
      <div id="rails_image">
        <%= link_to image_tag("rails.svg", alt: "Rails logo", width: "20%"), "https://rubyonrails.org/" %>
      </div>

      The <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
    </small>
    <nav>
      <ul class="nav">
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
      </ul>
    </nav>
</footer>